<div class="container">
  <h1>FORGOT PASSWORD</h1>
  <p>Provide your email to reset your password</p>
  <form #forgetPassword="ngForm" class="form-group">
    <label for="email">Email</label>
    <input class="form-control" type="text" name="email" placeholder="Email" [(ngModel)]="user.email">
    <br>
    <button class="btn btn-primary" type="submit" (click)="submit()" *ngIf="!submitting">Submit</button>
    <button class="btn btn-info" type="submit" *ngIf="submitting" disabled>Submittingg</button>
  </form>
  <span>back to <a [routerLink]="['/auth/login']">login</a></span>
</div>